<h1>ジャンル一覧</h1>
<% genres.each do |genre| %>
    <%= genre.id %>
	<%= genre.name %>
	<%= link_to "編集",edit_genre_path(genre) %>
	<%= link_to "削除",destroy_genre_path(genre), method: :delete %>
<% end %>