// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search-user-square{
	width: 81px;
	height: 8a1px;
   	position: relative;
	overflow: hidden;
}
.sub-report-box{
	width: 60%;
	height: 100px;
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
	margin: 10px auto 0;
	position: relative;
}
.sub-report-form{
	display: none;
	z-index: 100;
	position: fixed;
	width: 40%;
	height: 30vh;
	background-color: #ffffff;
    top: 10vh;
    left: 30%;
}
.sub-report-body-form{
	width: 60%;
	height: 60px;
	margin-left: 20%;
	margin-top: 10%;
}
.sub-report-submit{
    margin-top: 5%;
    margin-left: 20%;
    float: left;
}
.close-sub-report-button{
    margin-top: 5%;
    margin-left: 20%;
    float: left;
}
.value-show{
	display: none;
	z-index: 100;
	position: fixed;
	min-width: 200px;
	width: auto;
	min-height: 200px;
	height: auto;
	background-color: #ffffff;
    top: 10vh;
    left: 30%;
}
.value-single{
	cellspacing: 1;
	border-top: solid;
	border-bottom: solid;
}
.new-report-box{
	height: 50vh;
	width: 60%;
	background-color: yellow;
	position: absolute;
	top: 20vh;
	left: 20%;
}
#report_language_id{
	margin-top: 50px;
	margin-left: 10%
}
.new-report-title{
	margin-top: 50px;
	margin-left: 10%;
}
.new-report-body{
	margin-top: 50px;
	margin-left: 10%;
	width: 60%;
	height: 10vh;
}
.new-report-submit{
	margin-top: 50px;
	margin-left: 10%;
	height: 50px;
	width: 50%;
}