// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
	position: absolute;
	top: 300px;
	left: 200px;
	font-size: 200px;
	font-weight: 900;
	color: rgba( 255, 255, 0, 0.5);
}
.login-select-box{
    width: 300px;
    height: 40vh;
    position: relative;
    left: 60%;
    top: calc(50% - 20vh);
    position: fixed;
}
.no-login-select{
	width: 33%;
	height: 10%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
    background-color: #000000;
    cursor: pointer;
    color: #ffffff;
}
.login-select{
	width: 33%;
	height: 10%;
	position: absolute;
	top: 0;
	left: 33%;
	text-align: center;
	background-color: #000000;
    cursor: pointer;
    color: #ffffff;
}
.signup-select{
	width: 34%;
	height: 10%;
	position: absolute;
	text-align: center;
	top: 0;
	left: 66%;
	background-color: #000000;
    cursor: pointer;
    color: #ffffff;
}
.no-login-box{
	width: 100%;
	height: 90%;
	position: absolute;
	top: 10%;
	left: 0;
	z-index: 3;
    background: linear-gradient(to bottom, #000, #eeeeee);
}
.login-box{
	width: 100%;
	height: 90%;
	position: absolute;
	display: none;
	top: 10%;
	left: 0;
	z-index: 2;
	background: linear-gradient(to bottom, #000, #eeeeee);
}
.signup-box{
	display: none;
	width: 100%;
	height: 90%;
	position: absolute;
	top: 10%;
	left: 0;
    z-index: 1;
    background: linear-gradient(to bottom, #000, #eeeeee);
}
.no-login-text{
    margin-top: calc(50% - 2.5vh);
    margin-left: 10%;
    margin-right: 10%;
}
.no-login-link{
    width: 80%;
    text-align: center;
    background-color: #ffffff;
    display: inline-block;
    line-height: 5vh;
    text-decoration: none;
    border: solid;
	border-width: 1px;
	border-color: rgb(216, 216, 216);
	position: absolute;
}
.login-form-box{
	height: 60%;
	width: 80%;
	margin-top: 20%;
	margin-left: 10%;
	position: relative;
}
.login-name{
    height: 5vh;
    width: 98%;
    position: absolute;
    top: 0;
}
.login-password{
	height: 5vh;
	width: 98%;
    position: absolute;
    top: calc(50% - 2.5vh);
}
.login-submit{
	width: 100%;
	height: 5vh;
	border: solid;
	border-width: 1px;
	border-color: rgb(216, 216, 216);
	position: absolute;
	bottom: 0;
	cursor: pointer;
	backgrond-color: #ffffff;
}
.signup-form-box{
	height: 80%;
	width: 80%;
	margin-top: 10%;
	margin-left: 10%;
	position: relative;
}
.signup-name{
    height: 4vh;
    width: 98%;
    position: absolute;
    top: 0;
}
.signup-password{
	height: 4vh;
	width: 98%;
    position: absolute;
    top: calc((100% - 16vh) / 3 + 4vh);
}
.signup-occupation{
	height: 4vh;
	width: 99%;
    position: absolute;
    top: calc((100% - 16vh) * 2 / 3 + 8vh);
}
.signup-submit{
	width: 100%;
	height: 4vh;
	border: solid;
	border-width: 1px;
	border-color: rgb(216, 216, 216);
	position: absolute;
	bottom: 0;
	cursor: pointer;
}
.search-user-box{
	width: auto;
	height: 100px;
	display: inline-block;
	margin-left: 50px;
	margin-top: 50px;
}
.search-user-name{
	width: 100%;
	text-align: center;
}
.user-box{
	width: 100%;
	height: 20vh;
	border-top: solid;
	border-bottom: solid;
}
.user-image-box{
	width: auto;
	height: 100%;
    display: inline-block;
	float: left;
}
.user-image{
}
.user-info-box{
	float: left;
	position: relative;
	width: 80%;
	height: 100%;
}
.user-name{
    position: absolute;
    top: 0;
    left: 5%;
	margin-top: 0px;
}
.user-occupation{
    position: absolute;
    top: 0;
    left: 20%;
	margin-top: 0px;
}
.user-login-time{
    position: absolute;
    top: 0;
	right: 0;
}
.user-edit-button{
	position: absolute;
	bottom: 20%;
	left: 5%;
	cursor: pointer;
}
.user-edit{
	display: none;
	z-index: 100;
	position: fixed;
	width: 30%;
	height: 40vh;
	background-color: #ffffff;
    top: 30vh;
    left: 35%;
}
.user-edit-name{
	padding-top: 5%;
}
.user-follow{
    position: absolute;
    top: 30%;
    left: 5%;
	cursor: pointer;
}
.user-follow-index{
    display: none;
    height: auto;
    width: 30%;
    position: fixed;
    z-index: 100;
    top: 40vh;
    left: 35%;
    background-color: #ffffff;
}
.user-follower{
    position: absolute;
    top: 30%;
    left: 20%;
    cursor: pointer;
}
.follow-submit{
	width: 100%;
}
.user-follower-index{
    display: none;
    height: auto;
    width: 30%;
    position: fixed;
    z-index: 100;
    top: 40vh;
    left: 35%;
    background-color: #ffffff;
}
.view-history{
	position: absolute;
	bottom: 20%;
	left: 20%;
	cursor: pointer;
}
.view-history-info{
    display: none;
    height: auto;
    width: 30%;
    position: fixed;
    z-index: 100;
    top: 40vh;
    left: 35%;
    background-color: #ffffff;
}
.users-report{
	height: auto;
	width: 100%;
}
.user-index{
	width: 60%;
	height: auto;
	margin-left: 20%;
	margin-top: 5px;
	border-top: solid;
	border-bottom: solid;
}