<div class="value-show">
  <table cellspacing="20">
    <% report_values.each do |report_value| %>
      <tr class="value-single">
		<td>
          <div class="report-image-square <%= report_value.id %>">
            <%= render "users/image", user: report_value.user.id, s: 7 %>
          </div>
		</td>
		<td>
		  <%= report_value.user.name %>
		</td>
      </tr>
	<% end %>
  </table>
<button class="close-sub-report-button">閉じる</button>
</div>