<% if @users != nil %>
  <% @users.last(5).each do |user| %>
    <div class="search-user-box">
      <div class="search-user-square <%= user.id %>">
        <%= render "users/image", user: user.id, s: 9 %>
      </div>
      <div class="search-user-name">
        <%= link_to user.name, user_path(user.id) %>
      </div>
    </div>
  <% end %>
<% end %>
<% @reports.last(20).each do |report| %>
  <%= render"reports/list", report: report %>
<% end %>
<div class="new-sub-create"></div>